<div class="marquee" aria-hidden="true">
  <div class="track">
    <span class="item">Crane Hire</span><span class="item">Rigging &amp; Installation</span
    ><span class="item">Equipment Sales</span><span class="item">Heavy Transport</span
    ><span class="item">Plant Maintenance</span> <span class="item">Procurement</span>
    <span class="item">Crane Hire</span><span class="item">Rigging &amp; Installation</span
    ><span class="item">Equipment Sales</span><span class="item">Heavy Transport</span
    ><span class="item">Plant Maintenance</span> <span class="item">Procurement</span>
  </div>
</div>
